html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
		Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

	--br-md: 6px;
	--clr-neutral-200: #1d1e22;
	--clr-accent: rgb(72, 86, 209);
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.button {
	padding: 0.5rem 1rem;
	font-weight: 700;
	border-radius: var(--br-md);
	cursor: pointer;
	border: 2px solid var(--clr-accent);
	background-color: transparent;
	transition: background-color 250ms ease, color 250ms ease;
	&:hover,
	&:active {
		background-color: var(--clr-accent);
		color: white;
	}
	& + .button {
		margin-left: 1rem;
	}
}
